*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: italics;
    overflow-x: hidden;
body{
    text-align: center;
    font-weight: bold;
    
}

.main{
    background-color:#ffe699  ;
}
.div1{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}
.div2{
    display: flex;
    justify-content: space-around;
    padding-top: 45px;


}
button{
    border: none;
    color: whitesmoke;
    background-color: black;
    width: 165px;
    height: 62px;

}
.btn1{
    margin-top: 40px;
}
.btn2{
    margin-top: 20px;
     background-color:#ffe699;
     color: black; 
     border: 1px solid black;
     margin-right: 580px;
}
.div3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.div4{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    
}
.img1{
    width: 350px;
    height: 175px;
}
.img5{
    margin-right: 300px;
}
.img2{
    
    width: 350px;
    height: 175px;
}
.img3{
    width: 350px;
    height: 175px; 
}
.img4{
    width: 550px;
    height: 300px;
}
.ape{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


@media screen and (max-width:768px)
{
    .div1{
        display: flex;
        justify-content: space-between;
        flex: 0 1 100%;
        margin-left: 10px;
    }
    
    .div2{
        display: flex;
        justify-content: space-between;
        flex: 0 1 100%;
        padding-top: 45px;
    
    
    }
    .div3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
    } 
    .div4{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .btn1{
        margin-left: 40px;
    }
    .btn2{
        margin-bottom: 14px;
         background-color:#ffe699;
         color: black; 
         border: 1px solid black;
         margin-left: 190px;
         
    }
    .img1{
        width: 350px;
        height: 175px;
        margin-bottom:20px ;
    }
    .img2{
    
        width: 350px;
        height: 175px;
        margin-bottom:20px ;
    }
    .img3{
        width: 350px;
        height: 175px; 
        margin-bottom:20px ;
    }
    .img5{
        margin-left: 35px;
    }
    button{
        
        border: none;
        color: whitesmoke;
        background-color: black;
        width: 105px;
        height: 42px;
    
    }
}
